body{
  background-color: rgb(97, 173, 148);
  padding: 10px;
  font-weight: normal;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

section{
  background-color: #ffffffc0;
  border-radius: 13px;
  padding: 10px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.644) ;
}

select#flista{
  width: 150px;
}

footer{
 text-align: center;
 padding: 5px;
 font-style: italic;
}